body {
  background-color: hsl(122, 8%, 24%);
}

* {
  color: white;
}

.app {
  box-sizing: border-box;
  margin: 10vh auto auto;
  width: 50vh;
  background-color: black;
  padding: 1px 4vh 10px;
  border-radius: 10px;
}

button {
  background: green;
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
}

textarea {
  display: block;
  background-color: #777777;
  margin-top: 2px;
  width: 80%;
  height: 100px;
}

textarea {

}
